<div class="mobile-nav" id="mobile-nav">

  <div class="res-log">

    <a href="/">

      <img class="logo" src="{{ asset('assets/logo.jpeg') }}" alt="Logo" />

    </a>

  </div>

  <ul>
    @include('partials/navigation')
  </ul>

  <a href="JavaScript:void(0)" id="res-cross"></a>

</div>
