<!-- resources/views/admin/dashboard.edge -->

<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>admin</title>
  <!-- 引入 CSS 文件 -->
</head>
<body>
  <h1>admin dashboard</h1>
  <!-- 管理員功能區域 -->
</body>
</html>
